body{
    background-color: #000000
}
p{
    color: Blue;
    font-family: Signika,"Piston Black", fantasy;
    font-size: 15px;
    text-align: left;
}
h1{
    font-family: Fantasy, arial;
    color: blue;
}
h4{
    font-family: Fantasy, arial;
    color: blue;
    position: fixed;
}

img {
    display: block;
    width: 50%;
    margin: auto;
}