body{
    background-color: #000000
}
pre{
    color: Blue;
    font-family: Signika,"Piston Black", fantasy;
    font-size: 30px;
    text-align: left;
}
h1{
    font-family: Fantasy, arial;
    color: blue;
}
h3{
    font-family: Fantasy, arial;
    color: blue;
    position: left;
}

img {
    display: block;
    width: 500px;
    height:500px;
    margin: auto;
    box-shadow: 6px 6px 10px blue;
}
